<div class='fejlec flexcon'>
	<div class='flex'>
		<a class='ftitle' href='/'>Webtárhely - Főoldal</a>
	</div>
<% if(session.nev) { %>
	<div class='flex'>
		<span class="ftext">Üdvözlünk, <%= session.nev %>!</span>
	</div>
	<div class='fbutton'>
		<a href='TODO'>Fiók beállítások</a>
	</div>
	<div class='fbutton'>
		<a href='/logout'>Kijelentkezés</a>
	</div>
<% } else { %>
	<div class='fbutton'>
		<a href='/login'>Bejelentkezés</a>
	</div>
	<div class='fbutton'>
		<a href='/register'>Regisztráció</a>
	</div>
<% } %>
</div>
<% if(session.nev) { %>
<div class='fejlec2 flexcon'>
	<div class='flex'>
		Tárhely: 0B / 100GiB
	</div>
</div>
<% } %>
<% if(session.status) { %>
<div class='adminbar yellow'>
	<%= session.status %>
</div>
<% } %>
