<!DOCTYPE html>
<html lang='hu'>
	<head>
		<meta charset='UTF-8'>
		<title>Webtárhely - Saját fájlaim</title>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include('_fejlec.ejs') %>

		<h1>
			Útvonal: /
		</h1>
		<table class='fajllista'>
			<thead>
				<td style='width: 1%;'></td>
				<td style='width: 1%;'></td>
				<td style='width: 35%;'>Fájlnév</td>
				<td style='width: 6%;'>Méret</td>
				<td style='width: 15%;'>Módosítva</td>
				<td style='width: 5%;'>Megosztva</td>
				<td style='width: 3%;'></td>
				<td style='width: 3%;'></td>
			</thead>
			<tbody>
				<tr>
					<td><input type='checkbox' /></td>
					<td><img src='folder.png'></td>
					<td><a href='fajl.html'>ez egy mappa</a></td>
					<td>1.6 GiB</td>
					<td>2024-03-06 19:00:56</td>
					<td></td>
					<td>⚙</td>
					<td style='color: red;'>x</td>
				</tr>
				<tr>
					<td><input type='checkbox' /></td>
					<td><img src='image.png'></td>
					<td>fajl #1.png</td>
					<td>64 KiB</td>
					<td>2024-03-06 18:52:16</td>
					<td></td>
					<td>⚙</td>
					<td style='color: red;'>x</td>
				</tr>
				<tr>
					<td><input type='checkbox' /></td>
					<td><img src='file.png'></td>
					<td>fajl #2.dat</td>
					<td>12 GiB</td>
					<td>2024-03-06 18:52:59</td>
					<td></td>
					<td>⚙</td>
					<td style='color: red;'>x</td>
				</tr>
				<tr>
					<td><input type='checkbox' /></td>
					<td><img src='video.png'></td>
					<td>fajl #3.mkv</td>
					<td>528 MiB</td>
					<td>2024-03-06 18:53:19</td>
					<td>csoport1</td>
					<td>⚙</td>
					<td style='color: red;'>x</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class='flexcon'>
			<div class='flex tal'>
				<input type='button' value='Fájlok letöltése egyben'/>
			</div>
			<div class='flex tar'>
				<input type='button' value='Fájlok törlése'/>
			</div>
		</div>

		<div class='mulupl'>
			Fájlok feltöltése ide:<br>
			<input multiple='multiple' type='file'/>
		</div>
	</body>
</html>
