<!DOCTYPE html>
<html lang='hu'>
	<head>
		<meta charset='UTF-8'>
		<title>Webtárhely - Főoldal</title>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include('_fejlec.ejs') %>

		<div class='bigbutton' style='background-color: #FF8F8F;'><a href='fajllista.html'>Saját fájlaim</a></div>
		<div class='bigbutton' style='background-color: #FFDE6B;'>Csoportok kezelése</div>
		<div class='bigbutton' style='background-color: #CCFF5F;'>Díjcsomagok</div>
	</body>
</html>
