<!DOCTYPE html>
<html lang='hu'>
	<head>
		<meta charset='UTF-8'>
		<title>Webtárhely - Bejelentkezés</title>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include('_fejlec.ejs') %>

		<div style='height: max-content;' class='form-container'>
			<h3>Bejelentkezés</h3>
			<form action='/login' method='POST'	enctype='application/x-www-form-urlencoded'>
				<div class='form-group'>
					<label >Felhasználónév
						<input type='text' name='nev' id='username' />
					</label>
				</div>
				<div class='form-group'>
					<label >Jelszó
						<input type='password' name='jelszo' id='password' />
					</label>
				</div>
				<div class='form-group'>
					<input type='submit' value='Bejelentkezés' />
				</div>
			</form>
		</div>
	</body>
</html>
